@import "../../../_variables.scss";
.user-card{
    .card-avatar{
        margin: -50px auto 0 !important;
        max-width: 90px;
        max-height: 90px;
        position: relative;

        img{
            border-radius: 50% !important;
            border: 5px solid $white !important;
            height: 80px;
            width: 80px;
        }
        i{
            position: absolute;
            left: 75%;
            top: 60%;
            background: $primary;
            border-radius: 52%;
            border: 2px solid $white;
            color: $white;
            padding: 3px 3px 3px 5px;
            font-size: 16px;
            font-weight: 600;
        }
    }
    p{
        text-align: center;
        &:last-child{
            font-size: 12px;
        }
    }
    .name{
        margin-top: 30px !important;
        font-weight: 600;
        color: $primary;
        letter-spacing: 1px;
    }
}