@import "../../../_variables.scss"; 
.label-menu
{
    border-bottom: 1px solid $menu-border;
    span{
        display: block;
        padding: 6px;
        font-weight: 600;
        margin: 3px 0;
        font-size: 13px;
        border-left: 5px solid $primary;
    }
}