@import "../../../_variables.scss"; 
.app-header{    
    background-color: $white;
    .brand-name{
        font-weight: 200;
        color: $fontColor;
        h4{
            letter-spacing: 1px;
            display: inline-block;
            &::first-letter {
                font-size: 140%;
            }         
        }        
    }
    .menu-spacer{
        flex: 1 1 auto;
    }
    .adjustment {
        margin-left: 10px;
        margin-top: -4px;
    }
    .round-info .mat-badge-content{
        font-size: 16px;
        line-height: 30px;
        font-weight: normal;
    }
}
