<div class="user-wrapper">
    <app-panel title="Users" icon="people">
        <div class="panel-description override">
            Total users:{{users.length}}
            <mat-button-toggle-group class="toggle-btn-gp" #group="matButtonToggleGroup" value="grid">
                <mat-button-toggle value="table" (change)="onValChange($event.value)" matTooltip="View Message">
                    <mat-icon>table_view</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle (change)="onValChange($event.value)" value="grid" matTooltip="Message Comment">
                    <mat-icon>grid_view</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </app-panel>
    <div class="holder" *ngIf="!isTableView;else other_content">
        <app-user class="restrict-width" *ngFor="let user of users" [name]="user.name" [img]="user.img" [designation]="user.designation"></app-user>
    </div>
    <ng-template #other_content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element">
                    <img class="img" [src]="element.img" />
                    <span fxHide.lt-md>{{element.name}}</span>
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="designation">
                <th mat-header-cell *matHeaderCellDef> Designation </th>
                <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="joiningDate">
                <th mat-header-cell *matHeaderCellDef> Joining Date </th>
                <td mat-cell *matCellDef="let element"> {{element.joiningDate}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </ng-template>
</div>